@charset "UTF-8";

 body {
    background-color: #dedede;
	background-image:
	 linear-gradient(#ecebeb 50%, transparent 50%, transparent);
	background-size: 10px 10px;
  }
.errorMessages {
	background: #ffffff;
  width: auto;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  margin: 30px auto;
}
.login-contents {
  background: #ffffff;
  width: 300px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  margin: 30px auto;
}
.narrow{
  background: #ffffff;
  width: 300px;
  padding: 2%;
  text-align: left;
  border: 1px solid #cccccc;
  margin: 30px auto;
}
.search{
	text-align: center;
}
.header{
	background: #ffffff;
    padding: 10px;
    float:left;
    border: 1px solid #cccccc;
    position: abusolute; top: 1;
}
p:hover{
	color:blue;
}
h1{
	float: right;
	position: fixed; right: 0; top: 0;
	background: #ffffff;
    padding: 10px;

    border: 1px solid #cccccc;
}
h2{
	    width: 300px;
}
.messagebox{
	background: #ffffff;
    padding: 2%;
    border: 1px solid #cccccc;
    text-align: left;
    width: 800px;
    margin: 30px auto;
}
.managements{
	  background: #ffffff;
  width: 300px;
  padding: 10px;
  text-align: left;
  border: 1px solid #cccccc;
  margin: 30px auto;
}
.edit{
  background: #ffffff;
  width: 400px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  margin: 30px auto;
}
.signup{
	background: #ffffff;
  width: 400px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  margin: 30px auto;
}
table {
border: solid 2px;
margin: 30px auto;
width:60%;
height: 60vh;
}
.table th{
	font-size: 18px;

	background-color: #b0c4de;
}
.table td{
	font-size: 18px;

	background-color: #ffffff;
}
.reverse{

}
.contribution{
	background: #ffffff;
    padding: 1%;
    border: 1px solid #cccccc;

  width: 800px;

  text-align: left;


}
.title{
	border: 1px solid #cccccc;
	display: inline-block;
}
.category{
	border: 1px solid #cccccc;
	display: inline-block;
	text-align: right;
}
.text{
text-align: center;
}
.name{
	border: 1px solid #cccccc;
	display: inline-block;
}
.comments{
	text-align: right;
}
.comment-area{
	text-align: right;
}
.date{
	border: 1px solid #cccccc;
	display: inline-block;
}
li{
	list-style: none;
}